<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="Email verification successful.">
    <style>
        body {
            font-family: Arial, sans-serif;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .container {
            width: 40%;
            margin: auto;
            padding: 20px;
        }

        h1 {
            font-size: clamp(14px, 2vw, 24px);
            line-height: 1.5;
            text-align: center;
            padding: 10px;
            color: #28a745;
            font-weight: 600;
        }

        p {
            font-size: clamp(14px, 2vw, 19px);
            line-height: 1.5;
            text-align: center;
            padding: 10px;
            color: #333;
            font-weight: 100;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Your Email has been confirmed Successfully!</h1>
        <p>Thank you for verifying your email. Your account is now activated, and you can enjoy all our features.</p>
    </div>
</body>

</html>